.projectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    overflow-y: hidden;
}
.mainImage {
    margin-top: 15vh;
    margin-bottom: 7vh;
    overflow: hidden;
}
.mainImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--radius-large);
}

@media (width >= 768px) {
    .projectContainer {
        width: 70%;
    }
    .mainImage {
        margin-top: 0;
        width: 70%;
        height: 60vh;
        /* border: 1px solid red; */
    }
    .mainImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}


.header {
    border-bottom: var(--border-bottom);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2.5em;
}
.header h1 {
    font-size: var(--fs-menu);
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
.row {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}
.row h2 {
    font-size: var(--fs-md);
}
.row p {
    text-align: right;
}
.header p,
.row p {
    font-size: clamp(1.1rem, 2.5vw, 1.4rem);
}

.projectDescription {
    font-size: var(--fs-md);
    margin-bottom: 5vh;
}
.projectDescription p {
    margin-bottom: 1em;
    line-height: var(--lh-small);
    white-space: pre-line;
}
.projectDescription a {
    all: unset;
}

.sectionPhotos h3 {
    text-align: center;
    margin: 3em 0 0.5em ;
    font-size: var(--fs-lg);
}
.photo {  /*Photo container*/
    overflow: hidden;
    margin:0 0 2.5em 0;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lastLinks {
    font-size: var(--fs-sm);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}