.aboutSection {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}
.aboutRight {
    overflow: hidden;
}
.portrait {
    width: 100%;
    height: auto;
    margin-top: 15vh;
    border-radius: var(--radius-small);
}
.aboutLeft {
    margin-bottom: 5vh;
}
.title {
    border-bottom: var(--border-bottom);
}
.text {
    font-size: var(--fs-md);
    line-height: 1.3;
    margin: 5vh 0;
}
.resume {
    all: unset;
}


@media (width >= 576px) {
    .aboutSection {
        width: 75%;
    }
}
@media (width >= 644px) {
    .aboutSection {
        width: 65%;
    }
}
@media (width >= 735px) {
    .aboutSection {
        width: 85%;
        display: flex;
        flex-direction: row-reverse;
        height: 100vh;
        width: 100vw;
        align-items: flex-end;
    }
    .aboutRight {
        flex: 1;
    }
    .aboutLeft {
        flex: 1;
        padding: 0 7.5%;
    } 
    .portrait {
        margin: 0;
        margin-bottom: 5vh; 
    }
}