.aboutSection {
    width: 100vw;
    height: 100vh;
    background-color: #E2DDD7;
    /* overflow: hidden; */
}

.title {
    writing-mode: vertical-lr;
    position: absolute;
    font-family: "Platypi", sans-serif;
    font-size: 2rem;
    color: #14162f;
    margin-top: 0.2em;
}

.avatar {
    max-width: 270px;
    height: auto;
    position: fixed;
    left: -65px;
    bottom: -45px;
}

.text {
    /* border: 1px solid rgb(0, 0, 255); */
    display: flex;
    flex-direction: column;
    width: 89%;
    text-align: right;
    /* height: max-content; */
    position: relative;
    right: 20px;
    margin-top: 11em;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    color: #14162f;
}

.pedro {
    letter-spacing: 2px;
    text-emphasis: circle;
    
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
    align-items: flex-end;
    height: 100vh;
}

.resume a {
    color: #E2DDD7;
    text-decoration: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    border-right: 0.5px solid rgb(0, 0, 0);
    border-top: 0.5px solid rgb(0, 0, 0);
    background-color: #14162f;
    position: absolute;
    bottom: 1.5em;
    right: 20px;
    padding: 0.3em;
    text-align: center;
    border-radius: 3px;
    width: 8.5em;
    letter-spacing: 3px;
    transition: 
        letter-spacing 0.3s ease,
        transform 0.3s cubic-bezier(0.4,0,0.2,1);     

}
.resume a:hover {
    letter-spacing: 0px;
    transform: scale(1.07);
}



/* -------------MEDIA QUERIES----------- */

/* DEFAULT */

/*AVATAR
    width: 65%;
    height: auto;
    position: fixed;
    left: -75px;
    bottom: -50px; */

/* TEXT
    width: 89%;
    margin-top: 11em;
    font-size: 0.9rem; */

/* Mobile L */
@media (600px <= width <= 767px) {
    .avatar {
        left: -83px;
        bottom: -65px;
        max-width: 380px;
    }
    .text {
        font-size: 1rem;
        width: 83%;
        margin-top: 9em;
    }
}

/* Tablet */
@media (768px <= width <= 1023px) {
    .avatar {
        left: -92px;
        bottom: -80px;
        max-width: 430px;
    }
    .text {
        font-size: 1.1rem;
        width: 82%;
        margin-top: 8em;
    }
}

/* Desktop S */
@media (1024px <= width <= 1279px) {
    .avatar {
        left: -135px;
        bottom: -100px;
        max-width: 550px;
    }
    .text {
        font-size: 1.2rem;
        width: 82%;
        margin-top: 8em;
    }
}


/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .avatar {
        left: -130px;
        bottom: -100px;
        max-width: 580px;
    }
    .text {
        font-size: 1.3rem;
        width: 60%;
        margin-top: 8em;
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .avatar {
        left: -140px;
        bottom: -100px;
        max-width: 600px;
    }
    .text {
        font-size: 1.4rem;
        width: 60%;
        margin-top: 8em;
    }
}