.aboutSection {
    width: 100vw;
    min-height: 100dvh; 
    background-color: #E2DDD7;
    overflow: hidden;
}

.title {
    writing-mode: vertical-lr;
    position: absolute;
    font-family: "Platypi", sans-serif;
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    color: #14162f;
    margin-top: 0.2em;
}

.avatar {
    /* width: 25vw; */
    width: 60%;
    height: auto;
    position: fixed;
    left: -15vw;
    bottom: -5vh;
    /* border: 1px solid blue; */
}

.text {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
    /* border: 1px solid red; */
    text-align: right;
    position: relative;
    right: 5vw;
    margin-top: 20vh;
     font-size: clamp(0.9rem, 1.7vw, 1.7rem);
    font-family: "Montserrat", sans-serif;
    color: #14162f;
    z-index: 10;
}

.signature {
    letter-spacing: 2px;
    text-emphasis: circle;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100dvh; 
}

.resume a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    color: #E2DDD7;
    text-decoration: none;
    border-bottom: 3px solid #0f1024;
    border-left: 2px solid #0f1024;
    border-right: 0.5px solid #0f1024;
    border-top: 0.5px solid #0f1024;
    background-color: #14162f;
    position: absolute;
    bottom: 1.5em;
    right: 5vw;
    padding: 0.3em;
    text-align: center;
    border-radius: 10px;
    width: 9em;
    letter-spacing: 3px;
    transition: 
        letter-spacing 0.3s ease,
        transform 0.3s cubic-bezier(0.4,0,0.2,1);     

}
.resume a:hover {
    letter-spacing: 0px;
    transform: scale(1.07);
}



/* -------------MEDIA QUERIES---------- */

/* Tablet */
@media (768px <= width <= 1023px) {
    .avatar {
        left: -15vw;
        bottom: -10vw;
    }
}

/* Desktop S */
@media (1024px <= width <= 1279px) {
    .avatar {
        left: -12vw;
        bottom: -10vw;
        width: 55%;
    }
}

/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .avatar {
        left: -10vw;
        bottom: -10vw;
        width: 50%;
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .avatar {
        left: -10vw;
        bottom: -10vw;
        
    }
}