.aboutSection {
    width: 100vw;
    height: 100vh;
    background-color: #E2DDD7;
    overflow: hidden;
}

.title {
    writing-mode: vertical-lr;
    position: absolute;
    font-family: "Platypi", sans-serif;
    font-size: 2rem;
    color: #14162f;
    margin-top: 0.2em;
}

.avatar {
    max-width: 300px;
    height: auto;
    position: fixed;
    left: -67px;
    bottom: -45px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 89%;
    text-align: right;
    position: relative;
    right: 20px;
    margin-top: 11em;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: #14162f;
    z-index: 10;
}

.signature {
    letter-spacing: 2px;
    text-emphasis: circle;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}

.resume a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #E2DDD7;
    text-decoration: none;
    border-bottom: 3px solid #0f1024;
    border-left: 2px solid #0f1024;
    border-right: 0.5px solid #0f1024;
    border-top: 0.5px solid #0f1024;
    background-color: #14162f;
    position: absolute;
    bottom: 1.5em;
    right: 20px;
    padding: 0.3em;
    text-align: center;
    border-radius: 10px;
    width: 8.5em;
    letter-spacing: 3px;
    transition: 
        letter-spacing 0.3s ease,
        transform 0.3s cubic-bezier(0.4,0,0.2,1);     

}
.resume a:hover {
    letter-spacing: 0px;
    transform: scale(1.07);
}



/* -------------MEDIA QUERIES---------- */

/* DEFAULT */

/*AVATAR
    width: 65%;
    height: auto;
    position: fixed;
    left: -75px;
    bottom: -50px; */

/* TEXT
    width: 89%;
    margin-top: 11em;
    font-size: 0.9rem; */

/* Mobile L */
@media (600px <= width <= 767px) {
    .avatar {
        left: -83px;
        bottom: -65px;
        max-width: 380px;
    }
    .text {
        font-size: 1.1rem;
        width: 83%;
        margin-top: 9em;
    }
}

/* Tablet */
@media (768px <= width <= 1023px) {
    .avatar {
        left: -105px;
        bottom: -80px;
        max-width: 460px;
    }
    .text {
        font-size: 1.2rem;
        width: 82%;
        margin-top: 7em;
    }
}

/* Desktop S */
@media (1024px <= width <= 1279px) {
    .avatar {
        left: -135px;
        bottom: -100px;
        max-width: 550px;
    }
    .text {
        font-size: 1.2rem;
        width: 82%;
        margin-top: 8em;
    }
    .resume a {
        font-size: 1rem;
    }
}


/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .avatar {
        left: -140px;
        bottom: -100px;
        max-width: 600px;
    }
    .text {
        font-size: 1.4rem;
        width: 60%;
        margin-top: 6em;
    }
    .resume a {
        font-size: 1.1rem;
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .avatar {
        left: -140px;
        bottom: -100px;
        max-width: 600px;
    }
    .text {
        font-size: 1.6rem;
        width: 60%;
        margin-top: 8em;
    }
    .resume a {
        font-size: 1.3rem;
    }
}