.contactSection {
    width: 100vw;
    height: 100vh;
    background-color: #E2DDD7;
    /* overflow: hidden; */
}

.title {
    writing-mode: vertical-lr;
    position: absolute;
    font-family: "Platypi", sans-serif;
    font-size: 1.7rem;
    color: #14162f;
    margin-top: 0.2em;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    /* border: 10px solid purple; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #14162f;
    font-size: 0.9rem;
}

.contacts {
    /* border: 1px solid blue; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socials {
    width: 80%;
    background-color: #14162f;
    color: #E2DDD7;
    text-align: center;
    border-radius: 5px;
    border-bottom: 2px solid #0f1024;
    border-left: 1.5px solid #0f1024;
    border-top: 1px solid #0f1024;
    border-right: 1px solid #0f1024;
    padding-top: 1em;
}
.socials span {
    font-size: 1rem;
}

.socialsIcons {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1em 0;
}
.socialsIcons img {
    width: 3em;
}



/* -------------MEDIA QUERIES----------- */

/* DEFAULT */

/* .socials {
    width: 80%;
} */

/* .contacts {
    width: 80%;
} */

/* .socials span {
    font-size: 1rem;
} */

/* Mobile L */
@media (600px <= width <= 767px) {
    
}

/* Tablet */
@media (768px <= width <= 1023px) {
    .socials {
        width: 60%;
    }
}

/* Desktop S */
@media (1024px <= width <= 1279px) {
    .socials {
        width: 60%;
    }

    .contacts {
        width: 60%;
    }
}


/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .socials {
        width: 60%;
    }

    .contacts {
        width: 60%;
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .socials {
        width: 60%;
    }

    .contacts {
        width: 60%;
    }
}