.contactMain {
    width: 100vw;
    height: 100vh;
    background-color: #E2DDD7;
    font-family: "Montserrat", sans-serif;
}

.title {
    writing-mode: vertical-lr;
    position: absolute;
    font-family: "Platypi", sans-serif;
    font-size: 2rem;
    color: #14162f;
    margin-top: 0.2em;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #14162f;
    font-size: 0.9rem;
}

.contacts {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.socials {
    width: 80%;
    background-color: #14162f;
    color: #E2DDD7;
    text-align: center;
    border-radius: 5px;
    border-bottom: 2.5px solid #0f1024;
    border-left: 1.5px solid #0f1024;
    border-top: 1px solid #0f1024;
    border-right: 1px solid #0f1024;
    padding-top: 1em;
}
.socials h2 {
    font-size: 1rem;
    color: #E2DDD7;
}

.socialsIcons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1em 0;
}
.socialsIcons img {
    width: 3em;
}
.socialsIcons a:hover {
    scale: 1.07;
}
.socialsIcons a:active {
    scale: 0.9;
}



/* -------------MEDIA QUERIES----------- */

/* DEFAULT */

/* .socials {
    width: 80%;
} */

/* .contacts {
    width: 80%;
} */

/* .socials span {
    font-size: 1rem;
} */


@media (width >= 768px) {
     .contacts {
        width: 60%;
    }
    .socials {
        width: 60%;
    }
}

