.homePage {
    background-color: #E2DDD7;
    position: relative;
    z-index: 1;
}

.home {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid rgb(72, 165, 44); */
    font-family: "Montserrat", sans-serif;
}

.introContainer {
    /* border: 1px solid rgb(84, 46, 153); */
    display: flex;
    flex-direction: column;
    height: 65%;
    position: relative;
    bottom: 15px;
    overflow: visible;
}

.boatContainer {
    /* border: 1px solid; */
    margin: 0 auto;
    overflow: visible;
}

.linksContainer {
    /* border: 2px solid rgb(23, 126, 28); */
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.links {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.linksContainer a {
    font-weight: 300;
    text-decoration: none;
    color: #E2DDD7;
    background-color: #14162F;
    border-bottom: 3px solid #0f1024;
    border-left: 2px solid #0f1024;
    border-right: 0.5px solid #0f1024;
    border-top: 0.5px solid #0f1024;
    padding: 0.3em;
    text-align: center;
    border-radius: 10px;
    width: 8.5em;
    /* height: auto; */
    letter-spacing: 3px;
    transition: 
        letter-spacing 0.3s ease,
        transform 0.3s cubic-bezier(0.4,0,0.2,1);      
}
.linksContainer a:hover, .linksContainer a:active {
    letter-spacing: 0px;
    transform: scale(1.07);
}


.titleHome {
    /* border: 1px solid red; */
    height: 50%;
    position: relative;
    bottom: 40px;
    /* border-top: 2px solid #14162f; */
}

.titleRole, .titleDev {
    text-align: center;
    font-family: "Platypi", sans-serif;
    font-size: 3.5rem;
    background: linear-gradient(0deg, #14162f, #F9A801);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 1px #F9A801;
    position: relative;
    
}

.titleDev {
    position: relative;
    bottom: 15px;
}

/* --------------SVGs---------------- */

.logo {
    border-bottom: 2px solid #14162f;
    margin: 0 auto;
    width: 200px;
    height: auto;
    /* border: 1px solid; */
}



/* -------------MEDIA QUERIES----------- */

/* DEFAULT */
/* font-size a: 1rem */
/* font-size .title: 3.5rem */

/* Mobile L */
@media (600px <= width <= 767px) {
    .linksContainer a {
        font-size: 1.1rem;
    }

    .titleRole, .titleDev {
        font-size: 3.75rem;  
    }
}

/* Tablet */
@media (768px <= width <= 1023px) {
    .linksContainer a {
        font-size: 1.15rem;
    }

    .titleRole, .titleDev {
        font-size: 4rem;  
    }
}

/* Desktop S */
@media (1024px <= width <= 1279px) {
    .linksContainer a {
        font-size: 1.2rem;
    }

    .titleRole, .titleDev {
        font-size: 4rem;  
    }
}


/* Desktop M/L    MINE */
@media (1280px <= width <= 1599px) {
    .linksContainer a {
        font-size: 1.2rem;
    }

    .titleRole, .titleDev {
        font-size: 4.4rem;  
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .linksContainer a {
        font-size: 2rem;
    }

    .titleRole, .titleDev {
        font-size: 6rem;  
    }
}
