.homePage {
    background-color: #E2DDD7;
}

.home {
    height: 100vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid rgb(72, 165, 44); */
    
}

.introContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    height: 50%;
    position: relative;
    bottom: 80px;
}

.linksContainer {
    /* border: 1px solid orange; */
    width: 100%;
    /* height: 100%; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linksContainer a {
    text-decoration: none;
    color: #E2DDD7;
    background-color: #14162F;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.788);
    border-left: 2.5px solid rgba(0, 0, 0, 0.788);
    width: 15%;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 3px;
    font-weight: 500;
}

.titleRole, .titleDev {
    text-align: center;
    font-family: "Platypi", sans-serif;
    font-size: 5rem;
    color: #14162f;
    /* opacity: 0.8; */
}

.titleDev {
    position: relative;
    bottom: 15px;
    
}

/* --------------SVGs---------------- */

.logo {
    /* border: 1px solid rgb(182, 47, 137); */
    border-bottom: 4px solid #14162f;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    margin: 0 auto;
    width: clamp(250px, 300px, 400px);
    height: clamp(170px, 220px, 320px);
    overflow: hidden;
    position: relative;
    top: 0;
}

