* {
    margin: 0;
}

.home {
    height: 100vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    
}

.introContainer {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}

.linksContainer {
    /* border: 1px solid orange; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 5px;
}

.linksContainer a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    /* background-color: rgba(24, 24, 88, 0.938); */
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.788);
    width: 160px;
    height: 35px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 5px;
    border-radius: 10px;
    font-weight: 500;
}

/* --------------SVGs---------------- */

.logo {
    border-bottom: 3px groove rgba(0, 0, 0, 0.781);
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    margin: 0 auto;
    width: 250px;
    height: 170px;
    overflow: hidden;
}


