.title {
    writing-mode: vertical-lr;
    position: absolute;
    font-family: "Platypi", sans-serif;
    font-size: 2rem;
    color: #14162f;
    margin-top: 0.2em;
}

.workPage {
    background-color: #E2DDD7;
}

.workContainer {
    height: 100vh;
    width: 75%;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 40px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #14162f #E2DDD7; /* thumb color, track color */
}
/* For Chrome, Edge, Safari */
.workContainer::-webkit-scrollbar {
    width: 8px;
}
.workContainer::-webkit-scrollbar-thumb {
    background: #14162f; /* Scrollbar thumb */
    border-radius: 15px;
}
.workContainer::-webkit-scrollbar-track {
    background: #E2DDD7; /* Scrollbar track */
}

.projects {
    height: 12.5rem;
    border-radius: 10px;
    margin-top: 5em;
    margin-bottom: 20em;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px dashed #14162f;
    background-color: #14162f;
}
.projects img {
    width: 50%;
    cursor: pointer;
}
.projects figure {
    display: flex;
    align-items: center;
}

.projectsText {
    width: 50%;
    color: #E2DDD7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    line-height: 2;
}

/* -------------MEDIA QUERIES----------- */

/* DEFAULT */
/* .workContainer ===> padding-top: 40px; */ 

/* .projects ===>  margin-top: 5em;
                   margin-bottom: 20em;*/

/* .projectsText ===> font-size: 0.7rem; */

/* Mobile L */
@media (600px <= width <= 767px) {
    .projectsText {
        font-size: 0.8rem;
    }
}

/* Tablet */
@media (768px <= width <= 1023px) {
    .projectsText {
        font-size: 0.9rem;
    }
}

/* Desktop S */
@media (1024px <= width <= 1279px) {
    .projectsText {
        font-size: 1rem;
    }
}

/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .projectsText {
        font-size: 1.1rem;
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .projectsText {
        font-size: 1.2rem;
    }
}