.homePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeSection {
    min-height: 50%;
    max-height: 70%;
    width: 85%;
    /* border: 1px solid rgb(41, 8, 119); */
    display: flex;
    flex-direction: column;
    justify-content: center;
        
}
@media (width >= 850px) {
    .homeSection {
        width: 65%;
    }
}
.mainTitle {
    font-size: var(--fs-xl);
    margin-bottom: 1rem;
}
.secondaryTitle {
    font-size: var(--fs-lg);
    margin-bottom: 3rem;
}
.mainTitle,
.secondaryTitle {
    font-weight: 400;
}

.name, 
.job {
    font-weight: 800;
    cursor: pointer;
}

.linksContainer {
    display: flex;
    justify-content: space-around;
}



