.homePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeSection {
    min-height: 50%;
    max-height: 70%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;      
}
@media (width >= 850px) {
    .homeSection {
        width: 65%;
    }
}
.textContainer {
    overflow: hidden;
}
.mainTitle {
    font-size: var(--fs-xl);
    margin-bottom: var(--space-s);
}
.secondaryTitle {
    font-size: var(--fs-lg);
    margin-bottom: var(--space-xxl);
    line-height: 1.5;
}
.mainTitle,
.secondaryTitle {
    font-weight: 400;
}
.name, 
.job {
    font-weight: 700;
}
.rest {
    opacity: var(--om) !important;
}

.linksContainer {
    display: flex;
    justify-content: space-around;
}



