.contactSection {
    width: 100%; 
}

.title {
    font-size: var(--fs-xl);
    width: 85%;
    margin: 40vh auto 0 auto;
    border-bottom: var(--border-bottom);
}

.grid {
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 85%;
    margin: 3em auto;
    overflow: hidden;
}
.gridRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start; 
    line-height: var(--lh-big); 
    margin-bottom: 1em;
}
.gridRow h2 {
    font-size: var(--fs-md);
    /* margin-right: 35%; */
    width: 40%;
} 
.gridRow a {
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    /* width: max-content; */
}
.socials {
    display: flex;
    flex-direction: column;
    
}


