
.techWrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.7;
}
.techWrapper svg {
    margin-left: 10px;
    cursor: pointer;
}

@media (width >= 1024px) {
    .techWrapper svg {
        width: 30px;
        height: 30px;
    }
}