.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #14162f;
    color: #E2DDD7;
    border-radius: 5px;
    border-bottom: 2.5px solid #0f1024;
    border-left: 1.5px solid #0f1024;
    border-top: 1px solid #0f1024;
    border-right: 1px solid #0f1024;
    padding: 2em 1.5em;
    margin-bottom: 1.5em;
}

.form button {
    width: fit-content;
    background-color: #14162f;
    border: 2px solid #E2DDD7;
    color: #E2DDD7;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 3px;
    transition: letter-spacing 0.2s ease-in;
}
.form button:hover {
    cursor: pointer;
    letter-spacing: 0px;
}
.form button:active {
    background-color: #E2DDD7;
    color: #14162f;
    scale: 0.9;
}

.form input {
    width: 100%;
    margin: 0.1em 0 0.7em 0;
    padding: 0.3em 0;
}

.form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 235px;
}

.messageBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7em; 
}
/* MEDIA QUERIE */
@media (width >= 768px) {
     .form {
        width: 60%;
    }
}
