.navbarContainer {
    height: 15vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-nav-button); 
}

.logoSVG {
    width: clamp(30px, 4vw, 60px);
    height: auto;
    display: block;
}

@media (width >= 768px) {
    .navbarContainer {
        align-items: end;
    }
}