.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: var(--z-menu);
}

.menuList { 
    list-style-type: none;
    text-align: center;
    padding: 0;
    position: relative;
    bottom: 25px;
    line-height: var(--lh-small);
}
.menuList a {
    text-decoration: none;
    color: var(--clr-primary);
    font-size: var(--fs-menu);
}
.menuList li:hover {
    background: linear-gradient(0deg, #14162f, #F9A801);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px #F9A801;
}

.activeLink {
    background: linear-gradient(180deg, #F9A801, #14162F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px #F9A801;
    pointer-events: none;
}
