.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E2DDD7;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.menuList {
    font-size: 2.8rem;
    font-family: "Platypi", sans-serif; 
    font-weight: 900;
    list-style-type: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 50px;
    row-gap: 15px;
}

.menuList a {
    text-decoration: none;
    color: #14162F;
}

.menuList li {
    transition: all 0.2s ease;
    
}
.menuList li:hover {
    background: linear-gradient(0deg, #14162f, #F9A801);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px #F9A801;
}

.activeLink {
    background: linear-gradient(180deg, #F9A801, #14162F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px #F9A801;
    pointer-events: none;
}


/* ------------ MEDIA QUERIES ---------------------*/
/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .menuList {
        font-size: 3.1rem;
    }
}

/* Extra Large Screens */
@media (width >= 1600px) {
    .menuList {
        font-size: 3.7rem;
    }
}
