.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E2DDD7;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.menuList {
    border: 2px solid rgb(6, 41, 14);
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
}

.menuList h2, .menuList a {
    border: 1px solid red;
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
    font-family: "Platypi", sans-serif;
    color: #14162F;
    font-weight: 900;
    position: relative;
    z-index: 2;
}

.menuList a {
    text-decoration: none;
}