.waves {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;     /* above menu (menu is 100) */
    pointer-events: none;  /* don't block clicks */
}