.workSection {
    width: 85%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.workContainer {
    position: fixed;
    bottom: 0;
    right: 7.5%;
    width: 85%;
    height: 60vh;
}
.workLeft {
    /* border: 1px solid blue; */
    display: none;
}
@media(width >= 768px) {
    .workContainer {
        display: flex;
        flex-direction: row-reverse;
    }
    .workLeft {
        display: initial;
        flex: 1;
        padding: 0 2.5vw 0 0;
        /* border: 1px solid red; */
    }
    .workRight {
        flex: 1;
        padding: 0 0 0 2.5vw;
}
    .workLeft img {
        width: 100%;
        height: auto;
        height: max-content;
        object-fit: fill;
        border-radius: var(--radius-large);
        
    }
}

.firstLine {
    border-bottom: var(--border-bottom);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.firstLine span {
    font-size: var(--fs-lg);
}
.projectRow {
    border-bottom: var(--border-list);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
    transition: var(--transition-slow);
}
.projectRow:hover,
.projectRow:active {
    background-color: var(--clr-hover);
}
