*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {  
  -webkit-tap-highlight-color: transparent; 
}

body {
    background: var(--clr-bg);
    font-family: var(--ff-body);
    color: var(--clr-primary);
}

/* h1,
h2 {
    font-family: var(--ff-heading);
} */

:root {
    /* colors */
    --clr-bg: #E2DDD7;
    --clr-bg-light: hsl(33, 16%, 96%);
    --clr-bg-dark: hsl(33, 16%, 70%);

    --clr-primary: #14162f;
    --clr-primary-light: hsl(236, 40%, 23%);
    --clr-primary-dark: hsl(236, 40%, 03%);

    --clr-secondary: #F9A801;
    --white: #fff;

    /* font families */
    --ff-heading: "Tac One", serif;
    --ff-body: "Montserrat", sans-serif;
    /* font sizes  */
    --fs-xs: clamp(0.75rem, 1vw, 0.85rem);
    --fs-sm: clamp(0.85rem, 1.2vw, 1rem);
    --fs-md: clamp(1rem, 2vw, 1.3rem);
    --fs-lg: clamp(1.3rem, 3vw, 2rem);
    --fs-xl: clamp(2.4rem, 4.5vw, 5.5rem);
    --fs-menu: clamp(3.5rem, 5vw, 8rem);

    /* padding  */
    --pd-button: 0.5em 0.7em;

    /* borders */
    --border-list: 1.5px dashed var(--clr-primary);
    --border-bottom: 1.5px solid var(--clr-primary);
    
    /* line height  */
    --lh-small: 1.5;
    --lh-big: 1.8;

    /* border-radius */
    --radius-small: 3px;
    --radius-button: 6px;
    --radius-large: 18px;
    --radius-full: 50%;

    /* box shadows */
    --shadow-button: box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --shadow-card: box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    --shadow-card-smooth: box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --shadow-inverse: box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    /* letter spacing  */
    --ls: 0.5px;
    --ls-big: 1.5px;

    /* transitions  */
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-bounce: cubic-bezier(.34,1.56,.64,1);
    --transition-fast: 0.3s var(--ease-in-out);
    --transition-slow: 0.7s var(--ease-in-out);

    /* zindex */ 
    --z-back: -1;
    --z-base: 1;
    --z-header: 100;
    --z-menu: 200;
    --z-nav-button: 300;
    --z-waves: 400;
}

h1:not(#mainTitle) {
   font-size: var(--fs-menu);
}
h1:not(#mainTitle),
h3 {
    font-family: var(--ff-heading);
}

p {
    font-size: var(--fs-md);
}

#navLinks {
    text-decoration: none;
    color: var(--clr-primary);
}

button,
a:not(#navLinks) {
    padding: var(--pd-button);
    border-radius: var(--radius-button);
    letter-spacing: var(--ls);
    transition: var(--transition-fast);
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
    font-size: var(--fs-md);
}
@media (width >= 1600px) {
    button, a {
        font-size: var(--fs-lg);
    }
}

/* Button Primary (line border, get's drowned by waves on hover) */
.buttonPrimary,
a.buttonPrimary {
    background: transparent;
    border: 2px solid var(--clr-bg-dark);
    box-shadow: var(--shadow-inverse);
    color: var(--clr-primary);
}.buttonPrimary:hover,
a .buttonPrimary:hover {
    background: var(--clr-primary);
    color: var(--white);
}.buttonPrimary:active,
a .buttonPrimary:active {

}



.textShadow {
    background: linear-gradient(0deg, #14162f, #F9A801);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 1px #F9A801;
}




/* BOAT in NavMenu */
.boatLayer {
  position: fixed;
  left: 0;
  bottom: 22px;   
  z-index: 600;
  pointer-events: none;
}

@media (600px <= width <= 767px) {
    .boatLayer {
        bottom: 30px;
    }
}
/* Tablet */
@media (768px <= width <= 1023px) {
    .boatLayer {
        bottom: 47px;
    }
}
/* Desktop S */
@media (1024px <= width <= 1279px) {
    .boatLayer {
        bottom: 65px;
    }
}
/* Desktop M/L */
@media (1280px <= width <= 1599px) {
    .boatLayer {
        bottom: 80px;
    }
}
/* Extra Large Screens */
@media (width >= 1600px) {
    .boatLayer {
        bottom: 125px;
    }
}



